@import '../../styles/mixin.scss';

.breadcrumb-container {
  .ant-breadcrumb {
    font-size: 16px;
    float: left;
    color: var(--sk-text-on-header);
    padding-left: 16px;
    line-height: unset;

    ol,
    li,
    span,
    .ant-breadcrumb-link {
      color: var(--sk-text-on-header) !important;
      font-weight: 500;
    }

    a,
    .ant-breadcrumb-link a {
      color: var(--sk-text-on-header) !important;
      &:hover {
        color: $color-blue !important;
      }
    }

    .ant-breadcrumb-separator {
      color: var(--sk-text-on-header) !important;
      font-weight: normal;
      opacity: 0.85;
    }
  }
}
