{
  "presets": [
    ["es2015", { "loose": true, "modules": "commonjs" }],
    "es2017"
  ],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    ["transform-class-properties", { "spec": false }]
  ]
}
